# Node dependencies.
node_modules/

# Build output.
build/
dist/
out/

# Generated code.
gen/

# macOS metadata.
.DS_Store

# IntelliJ IDEA modules and interim config files.
*.iml
.idea/*.xml
.idea/.name
.idea/artifacts
.idea/libraries
.idea/modules
.idea/shelf

!.idea/codeStyles/
!.idea/copyright/
